#!/bin/bash
# startup script for nomad
# chkconfig: 2345 20 80
# description: Starts and stops nomad master

. /etc/init.d/functions
PROG=nomad
PROG_BIN=/usr/local/bin/$PROG
PROG_LOCKFILE=/var/lock/subsys/$PROG
PROG_LOGFILE=/var/log/$PROG.log
PROG_PIDFILE=/var/run/$PROG.pid
PROG_CONFIG=/root/nomad_master.hcl

case $1 in
  start)
    started=$(status -p "$PROG_PIDFILE" "$PROG_BIN")
    [[ $started =~ running ]] && echo $started && return 1
    echo "Starting $PROG "
    nohup $PROG_BIN agent -config $PROG_CONFIG >>$PROG_LOGFILE 2>&1 &
  ;;
  stop)
    echo "Stopping $PROG "
    killproc -p "$PROG_PIDFILE" "$PROG_BIN"
    RETVAL=$?
    echo
    [ $RETVAL -eq 0 ] && rm -f "$PROG_LOCKFILE"
    return $RETVAL
  ;;
  status)
    $PROG_BIN server members
  ;;
  *)
    echo "Usage $0 {start|stop|status}"
    RETVAL=1
  ;;
esac
exit $RETVAL
