#!/bin/bash

# startup script for nomad
# chkconfig: 2345 20 80
# description: Starts and stops nomad

. /etc/init.d/functions
PROG=nomad
PROG_BIN=/usr/local/bin/$PROG
PROG_LOCKFILE=/var/lock/subsys/$PROG
PROG_LOGFILE=/var/log/$PROG.log
PROG_PIDFILE=/var/run/$PROG.pid
PROG_CONFIG=/root/nomad_master.hcl

start() {
  started=$(status -p "$PROG_PIDFILE" "$PROG_BIN")
  [[ $started =~ running ]] && echo $started && return 1
  echo "Starting $PROG "
  nohup $PROG_BIN -config $PROG_CONFIG
}

stop() {
  echo "Stopping $PROG "
  killproc -p "$PROG_PIDFILE" "$PROG_BIN"
  RETVAL=$?
  echo
  [ $RETVAL -eq 0 ] && rm -f "$PROG_LOCKFILE"
  return $RETVAL
}

case $1 in
  start)
    start
  ;;

  stop)
    stop
  ;;

  restart)
    stop
    start
  ;;

  *)
    echo "Usage $0 {start|stop}"
    RETVAL=1
  ;;

esac
exit $RETVAL
